/*!***********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/styles.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************/
/**
 * modified version of eric meyer's reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
/**
 * basic reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/**
  * HTML5 display-role reset for older browsers
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main,
summary {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset styles */
/* Variables */
/* Font */
/* Font size */
/* Font style */
/* Colors */
/* Border radius for picture */
/* Img path */
/* Transition */
/* List social */
/* Opacity */
/* Width content for desctop version */
/* Breakpoints */
/* /Variables */
/* Fonts */
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: local("Roboto-Thin"), url(../fonts/Roboto/Roboto-Thin.woff) format("woff"), url(../fonts/Roboto/Roboto-Thin.ttf) format("truetype"), url(../fonts/Roboto/Roboto-Thin.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: local("Roboto-ThinItalic"), url(../fonts/Roboto/Roboto-ThinItalic.woff) format("woff"), url(../fonts/Roboto/Roboto-ThinItalic.ttf) format("truetype"), url(../fonts/Roboto/Roboto-ThinItalic.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: local("Roboto-Light"), url(../fonts/Roboto/Roboto-Light.woff) format("woff"), url(../fonts/Roboto/Roboto-Light.ttf) format("truetype"), url(../fonts/Roboto/Roboto-Light.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: local("Roboto-LightItalic"), url(../fonts/Roboto/Roboto-LightItalic.woff) format("woff"), url(../fonts/Roboto/Roboto-LightItalic.ttf) format("truetype"), url(../fonts/Roboto/Roboto-LightItalic.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: local("Roboto-Regular"), url(../fonts/Roboto/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype"), url(../fonts/Roboto/Roboto-Regular.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: italic;
  src: local("Roboto-Italic"), url(../fonts/Roboto/Roboto-Italic.woff) format("woff"), url(../fonts/Roboto/Roboto-Italic.ttf) format("truetype"), url(../fonts/Roboto/Roboto-Italic.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto-Medium"), url(../fonts/Roboto/Roboto-Medium.woff) format("woff"), url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype"), url(../fonts/Roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: local("Roboto-MediumItalic"), url(../fonts/Roboto/Roboto-MediumItalic.woff) format("woff"), url(../fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype"), url(../fonts/Roboto/Roboto-MediumItalic.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: local("Roboto-Bold"), url(../fonts/Roboto/Roboto-Bold.woff) format("woff"), url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype"), url(../fonts/Roboto/Roboto-Bold.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: italic;
  src: local("Roboto-BoldItalic"), url(../fonts/Roboto/Roboto-BoldItalic.woff) format("woff"), url(../fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype"), url(../fonts/Roboto/Roboto-BoldItalic.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: local("Roboto-Black"), url(../fonts/Roboto/Roboto-Black.woff) format("woff"), url(../fonts/Roboto/Roboto-Black.ttf) format("truetype"), url(../fonts/Roboto/Roboto-Black.eot?#iefix) format("embedded-opentype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: local("Roboto-BlackItalic"), url(../fonts/Roboto/Roboto-BlackItalic.woff) format("woff"), url(../fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype"), url(../fonts/Roboto/Roboto-BlackItalic.eot?#iefix) format("embedded-opentype");
}
/* /Fonts */
/* Mixin */
/* /Mixin */
/* Base styles */
:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", "sans-serif";
  background-color: #ffffff;
}

button {
  background-color: #c9453b;
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  padding: 8px 32px;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: all 0.2s;
}
button:hover {
  background-color: #b83c33;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 40px;
  line-height: 140%;
}

h2 {
  font-size: 24px;
  line-height: 150%;
}

h3 {
  font-size: 20px;
  line-height: 150%;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  padding-left: 6%;
}

li {
  font-size: 18px;
  line-height: 160%;
  opacity: 0.6;
  margin: 1rem auto 0;
  list-style-type: disc;
}

ul + p {
  margin-top: 20px;
}

p {
  font-size: 18px;
  line-height: 150%;
  opacity: 0.6;
}
p + p {
  margin-top: 20px;
}

input {
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.3);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: none;
  height: 40px;
  transition: all 0.2s;
}
input:hover {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

/* /Base styles */
/* Main styles */
.primary {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: auto;
}
.primary__content {
  flex: 1 0 auto;
}
.primary__content-main {
  width: 1140px;
  margin: 0 auto;
  padding-bottom: 14rem;
}
.primary__footer {
  flex: 0 0 auto;
  background-color: rgba(38, 148, 153, 0.04);
}

/* /Main styles */
/* Header styles */
.header {
  display: flex;
  flex-direction: column;
  background-image: url(../fonts/Roboto/bg.jpg);
  padding: 24px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  font-weight: 300;
  position: relative;
  height: 8.8rem;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  height: 8.8rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  align-items: center;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.header__nav-logo {
  display: block;
  font-size: 30px;
  color: #ffffff;
}
.header__nav-toggle {
  display: none;
  height: 24px;
  width: 40px;
  cursor: pointer;
  background-image: url(../fonts/Roboto/menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__nav-toggle.header__nav-toggle_show {
  z-index: 2;
  background-image: url(../fonts/Roboto/close.svg);
}

/* /Header styles */
/* Mobile menu styles */
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  padding: 24px 16px 16px;
  z-index: 1;
  display: none;
}
.mobile-menu.mobile-menu_show {
  display: block;
}
.mobile-menu__logo {
  font-size: 24px;
  color: #ffffff;
}

/* /Mobile menu styles */
/* Slider styles */
.slider {
  width: 100%;
  height: 60rem;
  position: relative;
  overflow: hidden;
}
.slider__list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.slider__list-item {
  margin: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  z-index: 0;
}
.slider__list-item.active {
  display: block;
  z-index: 1;
}
.slider__list-item.next, .slider__list-item.prev {
  position: absolute;
  top: 0;
}
.slider__list-item.next {
  -webkit-animation: next 1s;
          animation: next 1s;
  z-index: 3;
}
.slider__list-item.next.back {
  animation: prev 1s reverse forwards;
}
.slider__list-item.prev {
  -webkit-animation: prev 1s;
          animation: prev 1s;
  z-index: 2;
}
.slider__list-item.prev.back {
  animation: next 1s reverse forwards;
}
.slider__list-item img {
  width: 100%;
}
.slider__arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider__arrows-left, .slider__arrows-right, .slider__arrows-center {
  position: absolute;
  top: calc(50% - 40px);
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  z-index: 10;
  cursor: pointer;
}
.slider__arrows-left:before, .slider__arrows-right:before, .slider__arrows-center:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: 8;
  transition: all 0.2s;
}
.slider__arrows-left:after, .slider__arrows-right:after, .slider__arrows-center:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 60%;
  z-index: 9;
  opacity: 0.4;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.2s;
}
.slider__arrows-left:hover:before, .slider__arrows-right:hover:before, .slider__arrows-center:hover:before {
  background-color: rgba(255, 255, 255, 0.4);
}
.slider__arrows-left:hover:after, .slider__arrows-right:hover:after, .slider__arrows-center:hover:after {
  opacity: 0.8;
}
.slider__arrows-left:after, .slider__arrows-right:after {
  background-image: url(../fonts/Roboto/arrow.svg);
}
.slider__arrows-left {
  left: 40px;
  transform: rotate(270deg);
}
.slider__arrows-right {
  right: 40px;
  transform: rotate(90deg);
}
.slider__arrows-center {
  top: auto;
  top: initial;
  bottom: 32px;
  right: 48px;
  transform: translateY(0%);
}
.slider__arrows-center:after {
  background-image: url(../fonts/Roboto/pause.svg);
}
.slider__arrows-center.stop:after {
  left: calc(50% + 3px);
  background-image: url(../fonts/Roboto/play.svg);
}
.slider__bullit-list {
  position: absolute;
  bottom: 32px;
  left: 50%;
  z-index: 11;
  display: flex;
  transform: translateX(-50%);
}
.slider__bullit-list-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 0.2rem solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}
.slider__bullit-list-item:hover {
  border-color: rgba(255, 255, 255, 0.8);
}
.slider__bullit-list-item + .slider__bullit-list-item {
  margin-left: 16px;
}
.slider__bullit-list-item_active {
  position: absolute;
  top: 50%;
  left: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: default;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.2s;
  -webkit-animation: move 1s;
          animation: move 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes next {
  0% {
    transform: translate(100%, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(50%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes next {
  0% {
    transform: translate(100%, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(50%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes prev {
  0% {
    transform: translate(0, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes prev {
  0% {
    transform: translate(0, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(-50%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-100%, 0);
  }
}
/*
@keyframes move {
  0% {
      transform: translate(-3px, -3px);
      animation-timing-function: ease-in;
  }
  50% {
      transform: translate(12px, -3px);
      animation-timing-function: ease-out;
  }
  100% {
      transform: translate(25px, -3px);
  }
}

*/
@-webkit-keyframes move {
  0% {
    transform: translate(0%, -3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(50%, -3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(100%, -3px);
  }
}
@keyframes move {
  0% {
    transform: translate(0%, -3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(50%, -3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(100%, -3px);
  }
}
@-webkit-keyframes back {
  0% {
    transform: translate(25px, -3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(12px, -3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-3px, -3px);
  }
}
@keyframes back {
  0% {
    transform: translate(25px, -3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(12px, -3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-3px, -3px);
  }
}
@-webkit-keyframes toFirst {
  0% {
    transform: translate(-3px, -3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(-114px, -3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-227px, -3px);
  }
}
@keyframes toFirst {
  0% {
    transform: translate(-3px, -3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(-114px, -3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-227px, -3px);
  }
}
@-webkit-keyframes toLast {
  0% {
    transform: translate(-227px, -3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(-114px, -3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-3px, -3px);
  }
}
@keyframes toLast {
  0% {
    transform: translate(-227px, -3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    transform: translate(-114px, -3px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-3px, -3px);
  }
}
/* /Slider styles */
/* Nav header styles */
.nav-header {
  display: flex;
  align-items: center;
  font-weight: 300;
}
.nav-header__item {
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  position: relative;
}
.nav-header__item:after, .nav-header__item:hover:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0.1rem;
  background-color: #ffffff;
  transition: all 0.2s;
}
.nav-header__item:after {
  width: 0;
}
.nav-header__item:hover:after {
  width: 100%;
  left: 0;
}
.nav-header__item + .nav-header__item {
  margin-left: 48px;
}
.nav-header_desctop {
  flex-direction: row;
}
.nav-header_mobile {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 36px;
}
.nav-header_mobile .nav-header__item + .nav-header__item {
  margin-left: 0;
  margin-top: 16px;
}

/* /Nav header styles */
/* Location styles */
.location {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  font-weight: 300;
}
.location__title {
  text-align: center;
}
.location__subtitle {
  line-height: 160%;
  text-align: center;
  width: 60rem;
  margin: 2rem auto 0;
}
.location__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
  overflow: hidden;
}
.location__list_block {
  max-height: 50rem;
}
.location__list_page {
  max-height: auto;
}

/* Location styles */
/* Location item styles */
.location-item {
  display: block;
  width: calc((100% - 48px) / 3);
  min-width: calc((100% - 48px) / 3);
  border-radius: 10px;
  background: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
}
.location-item:hover {
  box-shadow: 0 0.6rem 3.5rem rgba(0, 0, 0, 0.08);
}
.location-item:hover .location-item__img {
  transform: scale(1.1);
  opacity: 1;
}
.location-item:nth-child(3n+2), .location-item:nth-child(3n) {
  margin-left: 24px;
}
.location-item:nth-child(n+4) {
  margin-top: 24px;
}
.location-item__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  width: 100%;
  height: 33rem;
  transition: all 0.2s;
}
.location-item__data {
  padding: 32px 36px;
  text-align: center;
}
.location-item__data-title, .location-item__data-subtitle {
  color: #000000;
  flex: 1;
}
.location-item__data-subtitle {
  margin-top: 10px;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.6;
  max-height: 56px;
  height: 56px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Location item styles */
/* Blog styles */
.blog {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  font-weight: 300;
}
.blog__title {
  text-align: center;
}
.blog__subtitle {
  line-height: 160%;
  text-align: center;
  width: 60rem;
  margin: 0.2rem auto 0;
}
.blog__text {
  text-align: center;
  margin: 60px auto 0;
}
.blog__text p {
  margin-top: 20px;
  text-align: justify;
}
.blog__text_page {
  display: block;
}
.blog__text_block {
  display: none;
}
.blog__content {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.blog__content + .blog__content {
  margin-top: 80px;
}
.blog__content-col {
  flex: 1;
}
.blog__content-col + .blog__content-col {
  margin-left: 30px;
}
.blog__content-col_vertical {
  display: flex;
  flex-direction: column;
}
.blog__content_page {
  display: flex;
}
.blog__content_block {
  display: none;
}

/* Blog styles */
/* Blog item styles */
.blog-item {
  display: flex;
}
.blog-item + .blog-item {
  margin-top: 30px;
}
.blog-item__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 10px;
}
.blog-item__info {
  display: flex;
  flex-direction: column;
}
.blog-item__info-text {
  margin-top: 8px;
}
.blog-item__info-author {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.4;
  font-style: italic;
}
.blog-item_column {
  flex-direction: column;
}
.blog-item_column .blog-item__img {
  height: 43rem;
}
.blog-item_column .blog-item__info-title {
  margin-top: 3.5rem;
  line-height: 150%;
}
.blog-item_straight {
  flex-direction: row;
}
.blog-item_straight .blog-item__img {
  height: 20rem;
  flex: 1;
}
.blog-item_straight .blog-item__info {
  margin-left: 30px;
  justify-content: center;
  flex: 1;
}
.blog-item_reverse {
  flex-direction: row-reverse;
}
.blog-item_reverse .blog-item__img {
  height: 20rem;
  flex: 1;
}
.blog-item_reverse .blog-item__info {
  margin-right: 30px;
  justify-content: center;
  flex: 1;
}

/* Blog item styles */
/* Footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  padding: 60px 0;
  font-size: 16px;
  letter-spacing: 0.06rem;
  color: #000000;
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}
.footer__left-logo {
  font-size: 24px;
}
.footer__left-contacts {
  display: flex;
  flex-direction: column;
}
.footer__left-contacts-text, .footer__left-contacts-email {
  font-weight: normal;
  line-height: 160%;
  opacity: 0.6;
}
.footer__left-contacts-email {
  color: #000000;
  transition: all 0.2s;
}
.footer__left-contacts-email:hover {
  opacity: 1;
}
.footer__nav {
  flex: 4;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  flex: 4;
}
.footer__subscribe-title {
  font-weight: 300;
  font-size: 20px;
}
.footer__subscribe-form {
  display: flex;
  margin-top: 40px;
}
.footer__subscribe-form-input {
  flex: 1;
}
.footer__subscribe-form-button {
  margin-left: 16px;
}

/* /Footer styles */
/* Nav footer styles */
.nav-footer {
  display: flex;
  font-size: 16px;
}
.nav-footer__col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nav-footer__col + .nav-footer__col {
  margin-left: 100px;
}
.nav-footer__col-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06rem;
  color: #000000;
  opacity: 0.6;
  transition: all 0.2s;
}
.nav-footer__col-item:hover {
  opacity: 1;
}
.nav-footer__col-item + .nav-footer__col-item {
  margin-top: 20px;
}

/* /Nav footer styles */
/* Socials styles */
.socials {
  display: flex;
  align-items: center;
}
.socials__item {
  display: block;
  width: 2rem;
  height: 2rem;
}
.socials__item + .socials__item {
  margin-left: 32px;
}
.socials__item_facebook {
  background-image: url(../fonts/Roboto/facebook.svg);
}
.socials__item_instagram {
  background-image: url(../fonts/Roboto/instagram.svg);
}
.socials__item_twitter {
  background-image: url(../fonts/Roboto/twitter.svg);
}
.socials__item_google {
  background-image: url(../fonts/Roboto/google.svg);
}

/* /Socials styles */
/* About styles */
.about {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  font-weight: 300;
}
.about__title {
  text-align: center;
}
.about__text {
  width: 60rem;
  margin: 2rem auto 0;
}
.about__text p {
  font-size: 18px;
  line-height: 160%;
  text-align: justify;
  opacity: 0.6;
}

/* About styles */
/* Contacts styles */
.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  font-weight: 300;
}
.contacts__title {
  text-align: center;
}
.contacts__subtitle {
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  opacity: 0.6;
  width: 60rem;
  margin: 2rem auto 0;
}
.contacts__map {
  margin: 40px auto 0;
  height: 40rem;
  width: 60rem;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
  width: 60rem;
}
.contacts__list-item {
  opacity: 0.6;
  font-size: 18px;
  line-height: 160%;
  flex: 1;
}
.contacts__list-item + .contacts__list-item {
  margin-top: 12px;
}
.contacts__list-item b {
  font-weight: 500;
}

/* Contacts styles */
/* Country styles */
.country {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  font-weight: 300;
}
.country__title {
  text-align: center;
}
.country__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 60rem;
  height: 40rem;
  margin: 20px auto 0;
}
.country__text {
  width: 60rem;
  margin: 0 auto;
}
.country__text h2 {
  text-align: center;
  margin-top: 32px;
}
.country__text p {
  line-height: 160%;
  text-align: justify;
  margin-top: 16px;
}

/* Country styles */
/* Terms of use styles */
.terms-of-use {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  font-weight: 300;
}
.terms-of-use__title {
  text-align: center;
}
.terms-of-use__text {
  width: 60rem;
  margin: 2rem auto 0;
}
.terms-of-use__text p {
  line-height: 160%;
  text-align: justify;
}

/* Terms of use styles */
/* Media styles to Ipad */
@media (max-width: 768px) {
  .header {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    height: 7.2rem;
  }
  .header::before {
    height: 7.2rem;
  }
  .header__nav {
    width: 100%;
  }
  .header__nav-logo {
    font-size: 24px;
  }
  .header__nav-button {
    display: none;
  }

  .slider__name {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .primary__content-main {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .location {
    padding-top: 40px;
  }
  .location__subtitle {
    width: 100%;
  }
  .location__list {
    margin-top: 32px;
  }
  .location__list_block {
    max-height: 32rem;
  }

  .location-item:hover {
    box-shadow: none;
  }
  .location-item:hover .location-item__img {
    transform: scale(1);
  }
  .location-item__img {
    height: 16rem;
    opacity: 1;
  }
  .location-item__data {
    padding: 20px 16px;
  }

  .blog {
    padding-top: 40px;
  }
  .blog__subtitle {
    width: 100%;
  }
  .blog__content {
    display: block;
    margin-top: 32px;
  }
  .blog__content-col + .blog__content-col {
    margin-left: 0;
    margin-top: 48px;
  }
  .blog__content_block {
    display: none;
  }

  .blog-item__info-author {
    margin-top: 12px;
  }
  .blog-item_column .blog-item__info-title {
    margin-top: 16px;
  }

  .footer {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .footer__subscribe {
    display: none;
  }

  .contacts {
    padding-top: 40px;
  }
  .contacts__subtitle {
    width: 100%;
    text-align: justify;
  }
  .contacts__map {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .contacts__list {
    margin: 24px 0 0;
    width: 100%;
  }

  .about,
.terms-of-use {
    padding-top: 40px;
  }
  .about__text,
.terms-of-use__text {
    width: 100%;
    margin: 0;
  }
  .about__text p,
.terms-of-use__text p {
    margin: 24px 0 0;
  }

  .country {
    padding-top: 40px;
  }
  .country__img, .country__text {
    width: 100%;
  }
}
/* /Media styles to Ipad */
/* Media styles to Mobile */
@media (max-width: 576px) {
  .header {
    position: static;
    background-size: auto auto;
    background-size: initial;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__nav {
    position: static;
  }
  .header__nav-menu {
    display: none;
  }
  .header__nav-toggle {
    display: block;
  }

  .slider__name {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .primary__content-main {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .location__list {
    display: block;
    justify-content: initial;
    flex-wrap: initial;
  }
  .location__list_block {
    max-height: 108rem;
  }

  .location-item {
    width: 100%;
  }
  .location-item:nth-child(3n+2), .location-item:nth-child(3n) {
    margin-left: 0;
  }
  .location-item + .location-item {
    margin-top: 24px;
  }
  .location-item__img {
    height: 20rem;
  }

  .blog-item_column .blog-item__img {
    height: 32rem;
  }
  .blog-item_straight, .blog-item_reverse {
    flex-direction: column;
  }
  .blog-item_straight .blog-item__img, .blog-item_reverse .blog-item__img {
    flex: initial;
  }
  .blog-item_straight .blog-item__info, .blog-item_reverse .blog-item__info {
    margin: 16px 0 0;
  }

  .footer {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
  }
  .footer__left-contacts, .footer__left-socials {
    margin-top: 24px;
  }
  .footer__nav {
    margin-top: 48px;
  }
}
/* /Media styles to Mobile */
